.sign-Up {
  display: flex;
  flex-direction: column;
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 20px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 2px 9px 11px -3px rgba(0, 0, 0, 0.43);

  .title {
    margin: 10px 0;
  }
}
